/*----------Estrutura do site----------------*/
body{
	background-color: #ddd;
	font-family: tahoma;
}
div#corpo1{
	width: 1200px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 30px #777;
	border-radius: 10px;
	font-size: 13px;
}



/*----------Relatorio----------------*/

div#dados{
	margin-left: 50px;
	margin-bottom: 50px;

}
td.pago, td.pendente, td.total{
	padding: 10px;
	size: 20px;
}
td.pago{
	color: green;
}
td.pendente{
	color: red;
}
td.total{
	color: blue;
}

div#tabela{
	margin: auto;
	
}
table#tabela1{
Border-spacing: 0;
margin: auto;

}
table#tabela1 tr, table#tabela1 tr td{
	height: 25px;
	margin: auto;
	Border: 1px solid;
	padding: 5px;
}
tr.titulo td{
	text-align: center;
	background: rgb(44, 42, 42);
	color: white;
}
table#tabela1 tr td.lm{
    text-transform: capitalize;
    text-align: center;
}
table#tabela1 tr td.tm{
	text-transform: uppercase;
}  
table#tabela1 tr td.pm{
	text-align: center;
	color: rgb(223, 15, 15);
    text-transform: capitalize;
    Border: 1px solid black;
}
table#tabela1 tr td.sm{
	text-align: center;
	color: rgb(30, 153, 19);
    text-transform: capitalize;
    Border: 1px solid black;
}
a.voltar{
	text-decoration: none;
	color: #000;
	font-size: 20px;
	Margin-left: 20px;
}
a.retorno{
	text-decoration: none;	
}
