
    div#corpo1{
        margin: auto;
    }
    div.sucesso{
        padding: 7px 15px;
        margin-bottom: 15px;
        border-radius: 15px;
        color: rgb(74,116,67);
    }
    div.aviso{
        padding: 7px 15px;
        margin-bottom: 15px;
        border-radius: 15px;
        color: rgb(134,110,66);
    }
    div.erro{
        padding: 7px 15px;
        margin-bottom: 15px;
        border-radius: 15px;
        color: rgb(157,75,69);
    }
    div#tabela{
        margin-bottom: 80px;
    }
    a.voltar{
        text-decoration: none;
        color: #000;
        font-size: 20px;
        Margin-left: 20px;
        
    }
    div#cadastro a, div#cadastro1 a{
text-decoration: none;
color: cornsilk;
font-size: 18px;
letter-spacing: 2px;

}
div#cadastro, div#cadastro1{
	text-decoration: none;
	width: 170px;
	height: 30px;
	display: inline-block;
	text-align: center;
	background: rgba(15,28,166,0.8);
	border: 1px solid rgb(56, 52, 52);
	border-radius: 6px;
	box-shadow: 3px 3px 3px black;
	margin-left: 25px;
	padding-top: 10px;		
}

